.homepage-container {
    height: 100vh; /* Define a altura da tela cheia */
    background: url('/assets/images/ background.png') center/cover no-repeat; /* Adapte o caminho da imagem conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  